.addForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
  height: 25px;
}

.container {
  display: flex;
  overflow-x: scroll;
  height: calc(100vh - 145px);
}
