<div class="box">
  <button
    (click)="onTodoFilterClick(todoFilter.All)"
    [ngClass]="{ button: true, active: filter === todoFilter.All }"
  >
    All
  </button>
  <button
    (click)="onTodoFilterClick(todoFilter.Active)"
    [ngClass]="{ button: true, active: filter === todoFilter.Active }"
  >
    Active
  </button>
  <button
    (click)="onTodoFilterClick(todoFilter.Completed)"
    [ngClass]="{ button: true, active: filter === todoFilter.Completed }"
  >
    Completed
  </button>
</div>
