.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background: rgba(128, 128, 128, 0.5);
  height: 60px;
  padding: 0 15px;
}

h6 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.button button {
  background: #fff;
  border: 1px solid #06c;
  border-radius: 15px;
  color: #06c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  padding: 5px 15px;
}
